<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Добавление сотрудника</h1>
            <div>
            <form data-th-action="@{/add}" method="post">

                <div class="form-group">
                    <label for="workerId">workerId</label>
                    <input type="number" name="workerId" class="form-control" id="workerId" placeholder="Айди">
                </div>
                <div class="form-group">
                    <label for="name">Ф.И.О.</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Иванов Иван Иванович">

                </div>

                <div class="form-group">
                    <label for="rent">Общая рентабельность</label>
                    <input type="number" name="rent" class="form-control" id="rent" placeholder="Рентабельность">
                </div>

                <div class="form-group">
                    <label for="janRent">Рентабельность за январь</label>
                    <input type="number" name="janRent" class="form-control" id="janRent" placeholder="Январь">
                </div>

                <div class="form-group">
                    <label for="febRent">Рентабельность за февраль</label>
                    <input type="number" name="febRent" class="form-control" id="febRent" placeholder="Февраль">
                </div>

                <div class="form-group">
                    <label for="marRent">Рентабельность за март</label>
                    <input type="number" name="marRent" class="form-control" id="marRent" placeholder="Март">
                </div>

                <div class="form-group">
                    <label for="aprRent">Рентабельность за апрель</label>
                    <input type="number" name="aprRent" class="form-control" id="aprRent" placeholder="Апрель">
                </div>

                <div class="form-group">
                    <label for="mayRent">Рентабельность за май</label>
                    <input type="number" name="mayRent" class="form-control" id="mayRent" placeholder="Май">
                </div>

                <div class="form-group">
                    <label for="juneRent">Рентабельность за июнь</label>
                    <input type="number" name="juneRent" class="form-control" id="juneRent" placeholder="Июнь">
                </div>

                <div class="form-group">
                    <label for="julyRent">Рентабельность за июль</label>
                    <input type="number" name="julyRent" class="form-control" id="julyRent" placeholder="Июль">
                </div>

                <div class="form-group">
                    <label for="augRent">Рентабельность за август</label>
                    <input type="number" name="augRent" class="form-control" id="augRent" placeholder="Август">
                </div>

                <div class="form-group">
                    <label for="sepRent">Рентабельность за сентябрь</label>
                    <input type="number" name="sepRent" class="form-control" id="sepRent" placeholder="Сентябрь">
                </div>

                <div class="form-group">
                    <label for="octRent">Рентабельность за октябрь</label>
                    <input type="number" name="octRent" class="form-control" id="octRent" placeholder="Октябрь">
                </div>

                <div class="form-group">
                    <label for="novRent">Рентабельность за ноябрь</label>
                    <input type="number" name="novRent" class="form-control" id="novRent" placeholder="Ноябрь">
                </div>

                <div class="form-group">
                    <label for="decRent">Рентабельность за декабрь</label>
                    <input type="number" name="decRent" class="form-control" id="decRent" placeholder="Декабрь">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="bond" value="1">
                    <label class="form-check-label" for="bond">bond</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="kent" value="1">
                    <label class="form-check-label" for="kent">kent</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Parlament" value="1">
                    <label class="form-check-label" for="Parlament">Parlament</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Winston" value="1">
                    <label class="form-check-label" for="Winston">Winston</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Lm" value="1">
                    <label class="form-check-label" for="Lm">Lm</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Malboro" value="1">
                    <label class="form-check-label" for="Malboro">Malboro</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Rothmans" value="1">
                    <label class="form-check-label" for="Rothmans">Rothmans</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Ld" value="1">
                    <label class="form-check-label" for="Ld">Ld</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Morris" value="1">
                    <label class="form-check-label" for="Morris">Morris</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Aliance" value="1">
                    <label class="form-check-label" for="Aliance">Aliance</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Java" value="1">
                    <label class="form-check-label" for="Java">Java</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Optima" value="1">
                    <label class="form-check-label" for="Optima">Optima</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Petr" value="1">
                    <label class="form-check-label" for="Petr">Petr</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Maksim" value="1">
                    <label class="form-check-label" for="Maksim">Maksim</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Crests" value="1">
                    <label class="form-check-label" for="Crests">Crests</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Vog" value="1">
                    <label class="form-check-label" for="Vog">Vog</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Glamur" value="1">
                    <label class="form-check-label" for="Glamur">Glamur</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Kiss" value="1">
                    <label class="form-check-label" for="Kiss">Kiss</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Esse" value="1">
                    <label class="form-check-label" for="Esse">Esse</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Quin" value="1">
                    <label class="form-check-label" for="Quin">Quin</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Lady" value="1">
                    <label class="form-check-label" for="Lady">Lady</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Mor" value="1">
                    <label class="form-check-label" for="Mor">Mor</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Chester" value="1">
                    <label class="form-check-label" for="Chester">Chester</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Stuardessa" value="1">
                    <label class="form-check-label" for="Stuardessa">Stuardessa</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Stolichniye" value="1">
                    <label class="form-check-label" for="Stolichniye">Stolichniye</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Donskoy" value="1">
                    <label class="form-check-label" for="Donskoy">Donskoy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Troyka" value="1">
                    <label class="form-check-label" for="Troyka">Troyka</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Fast" value="1">
                    <label class="form-check-label" for="Fast">Fast</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Royal" value="1">
                    <label class="form-check-label" for="Royal">Royal</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Manchester" value="1">
                    <label class="form-check-label" for="Manchester">Manchester</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Prestigue" value="1">
                    <label class="form-check-label" for="Prestigue">Prestigue</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Premier" value="1">
                    <label class="form-check-label" for="Premier">Premier</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Cosmos" value="1">
                    <label class="form-check-label" for="Cosmos">Cosmos</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Next" value="1">
                    <label class="form-check-label" for="Next">Next</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Magnat" value="1">
                    <label class="form-check-label" for="Magnat">Magnat</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Minsk" value="1">
                    <label class="form-check-label" for="Minsk">Minsk</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Souz" value="1">
                    <label class="form-check-label" for="Souz">Souz</label>
                </div>


                <button>Добавить</button>
            </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>