<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">1c Сотрудник</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" data-th-href="@{/}">Домой <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-th-href="@{/rentCalc}" data-toggle="tooltip"
                               title="Здесь вы можете поместить сотрудников в отдельную группу и рассчитать их совместную рентабельность">Рассчитать
                                лучшую группу</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-th-href="@{/params}" data-toggle="tooltip"
                               title="Здесь вы можете задать параметры по каждому виду сигарет для рассчёта лучшей группы">
                                Задать параметры
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-th-href="@{/bestsGroup}" data-toggle="tooltip"
                               title="Посмотреть лучшие группы">
                                Лучшая группа
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Меню
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </div>
            </nav>
            <h1>Лучшая группа</h1>

            <div data-th-each="best:${best}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Айди группы</th>
                    <th scope="col">Первый сотрудник</th>
                    <th scope="col">Второй сотрудник</th>
                    <th scope="col">Оклад*Процент</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="bests:${best}">
                    <td>[[${best.getId()}]]</td>
                    <td>[[${best.getFirstId()}]]</td>
                    <td>[[${best.getSecondId()}]]</td>
                    <td>[[${best.getProcentZp()}]]</td>
                </tr>
                </tbody>
            </table>
            <h3>Прибыль по сигаретам</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Bond</th>
                    <th scope="col">Kent</th>
                    <th scope="col">Parlametn</th>
                    <th scope="col">Winston</th>
                    <th scope="col">LM</th>
                    <th scope="col">Malboro</th>
                    <th scope="col">Rothmans</th>
                    <th scope="col">LD</th>
                    <th scope="col">Philip Morris</th>
                    <th scope="col">Aliance</th>
                    <th scope="col">Java</th>
                    <th scope="col">Optima</th>
                    <th scope="col">Пётр</th>
                    <th scope="col">Максим</th>
                    <th scope="col">Кресты</th>
                    <th scope="col">Vog</th>
                    <th scope="col">Гламур</th>
                    <th scope="col">Kiss</th>
                    <th scope="col">Esse</th>
                    <th scope="col">Quin</th>
                    <th scope="col">Lady</th>
                    <th scope="col">Мор</th>
                    <th scope="col">Chester</th>
                    <th scope="col">Радопи</th>
                    <th scope="col">Стюардесса</th>
                    <th scope="col">Столичные</th>
                    <th scope="col">Донской</th>
                    <th scope="col">Тройка</th>
                    <th scope="col">Fast</th>
                    <th scope="col">Royal</th>
                    <th scope="col">Manchester</th>
                    <th scope="col">Pretigue</th>
                    <th scope="col">Premier</th>
                    <th scope="col">Cosmos</th>
                    <th scope="col">Next</th>
                    <th scope="col">Magnat</th>
                    <th scope="col">Минск</th>
                    <th scope="col">Союз</th>

                </tr>
                </thead>
                <tbody>
                <tr >
                    <td>[[${best.getSumBond()}]]</td>
                    <td>[[${best.getSumKent()}]]</td>
                    <td>[[${best.getSumParlament()}]]</td>
                    <td>[[${best.getSumWinston()}]]</td>
                    <td>[[${best.getSumLm()}]]</td>
                    <td>[[${best.getSumMalboro()}]]</td>
                    <td>[[${best.getSumRotmans()}]]</td>
                    <td>[[${best.getSumLd()}]]</td>
                    <td>[[${best.getSumFmorris()}]]</td>
                    <td>[[${best.getSumAliance()}]]</td>
                    <td>[[${best.getSumJava()}]]</td>
                    <td>[[${best.getSumOptima()}]]</td>
                    <td>[[${best.getSumPetr()}]]</td>
                    <td>[[${best.getSumMaksim()}]]</td>
                    <td>[[${best.getSumCrests()}]]</td>
                    <td>[[${best.getSumVog()}]]</td>
                    <td>[[${best.getSumGlamur()}]]</td>
                    <td>[[${best.getSumKiss()}]]</td>
                    <td>[[${best.getSumEsse()}]]</td>
                    <td>[[${best.getSumQuin()}]]</td>
                    <td>[[${best.getSumLady()}]]</td>
                    <td>[[${best.getSumMor()}]]</td>
                    <td>[[${best.getSumChester()}]]</td>
                    <td>[[${best.getSumRadopy()}]]</td>
                    <td>[[${best.getSumStuardessa()}]]</td>
                    <td>[[${best.getSumStolichniye()}]]</td>
                    <td>[[${best.getSumDonskoy()}]]</td>
                    <td>[[${best.getSumTroyka()}]]</td>
                    <td>[[${best.getSumFast()}]]</td>
                    <td>[[${best.getSumRoyal()}]]</td>
                    <td>[[${best.getSumManchester()}]]</td>
                    <td>[[${best.getSumPrestigue()}]]</td>
                    <td>[[${best.getSumPremier()}]]</td>
                    <td>[[${best.getSumCosmos()}]]</td>
                    <td>[[${best.getSumNext()}]]</td>
                    <td>[[${best.getSumMagnat()}]]</td>
                    <td>[[${best.getSumMinsk()}]]</td>
                    <td>[[${best.getSumSouz()}]]</td>
                </tr>
                </tbody>
            </table>
            <h3>Прибыль с учётом затрат</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Bond</th>
                    <th scope="col">Kent</th>
                    <th scope="col">Parlametn</th>
                    <th scope="col">Winston</th>
                    <th scope="col">LM</th>
                    <th scope="col">Malboro</th>
                    <th scope="col">Rothmans</th>
                    <th scope="col">LD</th>
                    <th scope="col">Philip Morris</th>
                    <th scope="col">Aliance</th>
                    <th scope="col">Java</th>
                    <th scope="col">Optima</th>
                    <th scope="col">Пётр</th>
                    <th scope="col">Максим</th>
                    <th scope="col">Кресты</th>
                    <th scope="col">Vog</th>
                    <th scope="col">Гламур</th>
                    <th scope="col">Kiss</th>
                    <th scope="col">Esse</th>
                    <th scope="col">Quin</th>
                    <th scope="col">Lady</th>
                    <th scope="col">Мор</th>
                    <th scope="col">Chester</th>
                    <th scope="col">Радопи</th>
                    <th scope="col">Стюардесса</th>
                    <th scope="col">Столичные</th>
                    <th scope="col">Донской</th>
                    <th scope="col">Тройка</th>
                    <th scope="col">Fast</th>
                    <th scope="col">Royal</th>
                    <th scope="col">Manchester</th>
                    <th scope="col">Pretigue</th>
                    <th scope="col">Premier</th>
                    <th scope="col">Cosmos</th>
                    <th scope="col">Next</th>
                    <th scope="col">Magnat</th>
                    <th scope="col">Минск</th>
                    <th scope="col">Союз</th>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>[[${best.getResultBond()}]]</td>
                    <td>[[${best.getResultKent()}]]</td>
                    <td>[[${best.getResultParlament()}]]</td>
                    <td>[[${best.getResultWinston()}]]</td>
                    <td>[[${best.getResultLm()}]]</td>
                    <td>[[${best.getResultMalboro()}]]</td>
                    <td>[[${best.getResultRotmans()}]]</td>
                    <td>[[${best.getResultLd()}]]</td>
                    <td>[[${best.getResultFmorris()}]]</td>
                    <td>[[${best.getResultAliance()}]]</td>
                    <td>[[${best.getResultJava()}]]</td>
                    <td>[[${best.getResultOptima()}]]</td>
                    <td>[[${best.getResultPetr()}]]</td>
                    <td>[[${best.getResultMaksim()}]]</td>
                    <td>[[${best.getResultCrests()}]]</td>
                    <td>[[${best.getResultVog()}]]</td>
                    <td>[[${best.getResultGlamur()}]]</td>
                    <td>[[${best.getResultKiss()}]]</td>
                    <td>[[${best.getResultEsse()}]]</td>
                    <td>[[${best.getResultQuin()}]]</td>
                    <td>[[${best.getResultLady()}]]</td>
                    <td>[[${best.getResultMor()}]]</td>
                    <td>[[${best.getResultChester()}]]</td>
                    <td>[[${best.getResultRadopy()}]]</td>
                    <td>[[${best.getResultStuardessa()}]]</td>
                    <td>[[${best.getResultStolichniye()}]]</td>
                    <td>[[${best.getResultDonskoy()}]]</td>
                    <td>[[${best.getResultTroyka()}]]</td>
                    <td>[[${best.getResultFast()}]]</td>
                    <td>[[${best.getResultRoyal()}]]</td>
                    <td>[[${best.getResultManchester()}]]</td>
                    <td>[[${best.getResultPrestigue()}]]</td>
                    <td>[[${best.getResultPremier()}]]</td>
                    <td>[[${best.getResultCosmos()}]]</td>
                    <td>[[${best.getResultNext()}]]</td>
                    <td>[[${best.getResultMagnat()}]]</td>
                    <td>[[${best.getResultMinsk()}]]</td>
                    <td>[[${best.getResultSouz()}]]</td>
                </tr>
                </tbody>
            </table>
                <h3>Коэф прибыли</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Bond</th>
                        <th scope="col">Kent</th>
                        <th scope="col">Parlametn</th>
                        <th scope="col">Winston</th>
                        <th scope="col">LM</th>
                        <th scope="col">Malboro</th>
                        <th scope="col">Rothmans</th>
                        <th scope="col">LD</th>
                        <th scope="col">Philip Morris</th>
                        <th scope="col">Aliance</th>
                        <th scope="col">Java</th>
                        <th scope="col">Optima</th>
                        <th scope="col">Пётр</th>
                        <th scope="col">Максим</th>
                        <th scope="col">Кресты</th>
                        <th scope="col">Vog</th>
                        <th scope="col">Гламур</th>
                        <th scope="col">Kiss</th>
                        <th scope="col">Esse</th>
                        <th scope="col">Quin</th>
                        <th scope="col">Lady</th>
                        <th scope="col">Мор</th>
                        <th scope="col">Chester</th>
                        <th scope="col">Радопи</th>
                        <th scope="col">Стюардесса</th>
                        <th scope="col">Столичные</th>
                        <th scope="col">Донской</th>
                        <th scope="col">Тройка</th>
                        <th scope="col">Fast</th>
                        <th scope="col">Royal</th>
                        <th scope="col">Manchester</th>
                        <th scope="col">Pretigue</th>
                        <th scope="col">Premier</th>
                        <th scope="col">Cosmos</th>
                        <th scope="col">Next</th>
                        <th scope="col">Magnat</th>
                        <th scope="col">Минск</th>
                        <th scope="col">Союз</th>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>[[${best.getCoefBond()}]]</td>
                        <td>[[${best.getCoefKent()}]]</td>
                        <td>[[${best.getCoefParlament()}]]</td>
                        <td>[[${best.getCoefWinston()}]]</td>
                        <td>[[${best.getCoefLm()}]]</td>
                        <td>[[${best.getCoefMalboro()}]]</td>
                        <td>[[${best.getCoefRotmans()}]]</td>
                        <td>[[${best.getCoefLd()}]]</td>
                        <td>[[${best.getCoefFmorris()}]]</td>
                        <td>[[${best.getCoefAliance()}]]</td>
                        <td>[[${best.getCoefJava()}]]</td>
                        <td>[[${best.getCoefOptima()}]]</td>
                        <td>[[${best.getCoefPetr()}]]</td>
                        <td>[[${best.getCoefMaksim()}]]</td>
                        <td>[[${best.getCoefCrests()}]]</td>
                        <td>[[${best.getCoefVog()}]]</td>
                        <td>[[${best.getCoefGlamur()}]]</td>
                        <td>[[${best.getCoefKiss()}]]</td>
                        <td>[[${best.getCoefEsse()}]]</td>
                        <td>[[${best.getCoefQuin()}]]</td>
                        <td>[[${best.getCoefLady()}]]</td>
                        <td>[[${best.getCoefMor()}]]</td>
                        <td>[[${best.getCoefChester()}]]</td>
                        <td>[[${best.getCoefRadopy()}]]</td>
                        <td>[[${best.getCoefStuardessa()}]]</td>
                        <td>[[${best.getCoefStolichniye()}]]</td>
                        <td>[[${best.getCoefDonskoy()}]]</td>
                        <td>[[${best.getCoefTroyka()}]]</td>
                        <td>[[${best.getCoefFast()}]]</td>
                        <td>[[${best.getCoefRoyal()}]]</td>
                        <td>[[${best.getCoefManchester()}]]</td>
                        <td>[[${best.getCoefPrestigue()}]]</td>
                        <td>[[${best.getCoefPremier()}]]</td>
                        <td>[[${best.getCoefCosmos()}]]</td>
                        <td>[[${best.getCoefNext()}]]</td>
                        <td>[[${best.getCoefMagnat()}]]</td>
                        <td>[[${best.getCoefMinsk()}]]</td>
                        <td>[[${best.getCoefSouz()}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>