<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">1c Сотрудник</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" data-th-href="@{/}">Домой <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-th-href="@{/rentCalc}" data-toggle="tooltip"
                               title="Здесь вы можете поместить сотрудников в отдельную группу и рассчитать их совместную рентабельность">Рассчитать
                                лучшую группу</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-th-href="@{/params}" data-toggle="tooltip"
                               title="Здесь вы можете задать параметры по каждому виду сигарет для рассчёта лучшей группы">
                                Задать параметры
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-th-href="@{/bestsGroup}" data-toggle="tooltip"
                               title="Посмотреть лучшие группы">
                                Лучшая группа
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Меню
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </div>
            </nav>
            <h1>Лучшая группа</h1>
            <h4>Прежде, чем начинать расчёт, задайте <a data-th-href="@{/params}">параметры</a>, иначе расчёт начнётся
                с параметрами, равными нулю!!!</h4>
            <form data-th-action="@{/bestsGroup}">
                <div>
                    <label for="num">Рассчитать группу из:</label>
                    <input type="number" class="form-control" name="num" id="num"
                    placeholder="N человек">
                </div>
                <button>Рассчитать</button>
            </form>
            <form data-th-action="@{/bestsGroup}" method="post"></form>
            <a data-th-href="@{/bestGroup2}">Рассчитать группу из 2</a>
            <a data-th-href="@{/bestGroup3}">Рассчитать группу из 3</a>
            <a data-th-href="@{/bestGroup4}">Рассчитать группу из 4</a>
            <a data-th-href="@{/bestGroup5}">Рассчитать группу из 5</a>
            <a data-th-href="@{/bestGroup6}">Рассчитать группу из 6</a>
            <a data-th-href="@{/bestGroup7}">Рассчитать группу из 7</a>
            <a data-th-href="@{/bestGroup8}">Рассчитать группу из 8</a>
            <div class="table-responsive">

                <table class="table table-hover table-bordered table-sm shoplist col-12-md-8">
                    <thead>
                    <tr>
                        <th scope="row">
                            <h6>Группа из 2</h6>
                            <table class="table table-hover table-bordered table-sm shoplist col-12-md-8"
                            data-th-each="g2:${bgroup2}">
                                <thead>
                                <tr>
                                    <th scope="row">Айди группы</th>
                                    <th scope="row">Айди сотрудников</th>
                                    <th scope="row">Рентабельность</th>
                                    <th scope="row">100%</th>
                                    <th scope="row">10 тыс.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <a data-th-href="@{/bGroups2/{id}(id=${g2.getId()})}">
                                            [[${g2.getId()}]]
                                        </a>
                                    </td>
                                    <td>[[${g2.getFirstId()}]]</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td>[[${g2.getSecondId()}]]</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                        <th scope="row">
                            <h6>Группа из 3</h6>
                            <table class="table table-hover table-bordered table-sm shoplist col-12-md-8"
                            data-th-each="g3:${bgroup3}">
                                <thead>
                                    <tr>
                                        <th scope="row">Айди группы</th>
                                        <th scope="row">Айди сотрудников</th>
                                        <th scope="row">Рентабельность</th>
                                        <th scope="row">100%</th>
                                        <th scope="row">10 тыс.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a data-th-href="@{/bGroups3/{id}(id=${g3.getId()})}">
                                                [[${g3.getId()}]]
                                            </a>
                                        </td>
                                        <td>[[${g3.getFirstId()}]]</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>[[${g3.getSecondId()}]]</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>[[${g3.getThirdId()}]]</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>