<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Задать условия</title>
    <style>
        table {
            width: 100%; /* Ширина таблицы в процентах */
        }

        .col {
            width: 100px; /* Ширина ячейки */
        }

        .th {
            class: "col-1"
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">1c Сотрудник</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" data-th-href="@{/}">Домой <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-th-href="@{/rentCalc}" data-toggle="tooltip"
                               title="Здесь вы можете поместить сотрудников в отдельную группу и рассчитать их совместную рентабельность">Рассчитать
                                лучшую группу</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-th-href="@{/params}" data-toggle="tooltip"
                               title="Здесь вы можете задать параметры по каждому виду сигарет для рассчёта лучшей группы">
                                Задать параметры
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-th-href="@{/bestsGroup}" data-toggle="tooltip"
                               title="Посмотреть лучшие группы">
                                Лучшая группа
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Меню
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </div>
            </nav>
            <div>
                <a data-th-href="@{/paramsEach}">
                    <button>Задать параметры по каждому виду отдельно</button>
                </a>
                <a data-th-href="@{/paramsGroup}">
                    <button>Задать параметры по группам</button>
                </a>
                <a data-th-href="@{/paramsAll}">
                    <button>Задать параметры для всех одновременно</button>
                </a>
            </div>
            <div>
                <h6>На данный момент установлены параметры:</h6>
                <div class="table-responsive">
                    <table class="table table-hover shoplist col-12 col-md-8">
                        <thead>
                        <tr>
                            <th class="col">Название</th>
                            <th class="col">Параметр</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Bond</td>
                            <td>[[${params.getParameter1()}]]</td>
                        </tr>
                        <tr>
                            <td>Kent</td>
                            <td>[[${params.getParameter2()}]]</td>
                        </tr>
                        <tr>
                            <td>Parlament</td>
                            <td>[[${params.getParameter3()}]]</td>
                        </tr>
                        <tr>
                            <td>Winston</td>
                            <td>[[${params.getParameter4()}]]</td>
                        </tr>
                        <tr>
                            <td>Lm</td>
                            <td>[[${params.getParameter5()}]]</td>
                        </tr>
                        <tr>
                            <td>Malboro</td>
                            <td>[[${params.getParameter6()}]]</td>
                        </tr>
                        <tr>
                            <td>Rothmans</td>
                            <td>[[${params.getParameter7()}]]</td>
                        </tr>
                        <tr>
                            <td>Ld</td>
                            <td>[[${params.getParameter8()}]]</td>
                        </tr>
                        <tr>
                            <td>Morris</td>
                            <td>[[${params.getParameter9()}]]</td>
                        </tr>
                        <tr>
                            <td>Aliance</td>
                            <td>[[${params.getParameter10()}]]</td>
                        </tr>
                        <tr>
                            <td>Java</td>
                            <td>[[${params.getParameter11()}]]</td>
                        </tr>
                        <tr>
                            <td>Optima</td>
                            <td>[[${params.getParameter12()}]]</td>
                        </tr>
                        <tr>
                            <td>Petr</td>
                            <td>[[${params.getParameter13()}]]</td>
                        </tr>
                        <tr>
                            <td>Maksim</td>
                            <td>[[${params.getParameter14()}]]</td>
                        </tr>
                        <tr>
                            <td>Кресты</td>
                            <td>[[${params.getParameter15()}]]</td>
                        </tr>
                        <tr>
                            <td>Vog</td>
                            <td>[[${params.getParameter16()}]]</td>
                        </tr>
                        <tr>
                            <td>Гламур</td>
                            <td>[[${params.getParameter17()}]]</td>
                        </tr>
                        <tr>
                            <td>Kiss</td>
                            <td>[[${params.getParameter18()}]]</td>
                        </tr>
                        <tr>
                            <td>Esse</td>
                            <td>[[${params.getParameter19()}]]</td>
                        </tr>
                        <tr>
                            <td>Quin</td>
                            <td>[[${params.getParameter20()}]]</td>
                        </tr>
                        <tr>
                            <td>Lady</td>
                            <td>[[${params.getParameter21()}]]</td>
                        </tr>
                        <tr>
                            <td>Mor</td>
                            <td>[[${params.getParameter22()}]]</td>
                        </tr>
                        <tr>
                            <td>Chesterfield</td>
                            <td>[[${params.getParameter23()}]]</td>
                        </tr>
                        <tr>
                            <td>Radopy</td>
                            <td>[[${params.getParameter24()}]]</td>
                        </tr>
                        <tr>
                            <td>Stuardessa</td>
                            <td>[[${params.getParameter25()}]]</td>
                        </tr>
                        <tr>
                            <td>Stolichniye</td>
                            <td>[[${params.getParameter26()}]]</td>
                        </tr>
                        <tr>
                            <td>Донской</td>
                            <td>[[${params.getParameter27()}]]</td>
                        </tr>
                        <tr>
                            <td>Тройка</td>
                            <td>[[${params.getParameter28()}]]</td>
                        </tr>
                        <tr>
                            <td>Fast</td>
                            <td>[[${params.getParameter29()}]]</td>
                        </tr>
                        <tr>
                            <td>Royal</td>
                            <td>[[${params.getParameter30()}]]</td>
                        </tr>
                        <tr>
                           <td>Manchester</td>
                            <td>[[${params.getParameter31()}]]</td>
                        </tr>
                        <tr>
                            <td>Prestigue</td>
                            <td>[[${params.getParameter32()}]]</td>
                        </tr>
                        <tr>
                            <td>Premier</td>
                            <td>[[${params.getParameter33()}]]</td>
                        </tr>
                        <tr>
                            <td>Cosmos</td>
                            <td>[[${params.getParameter34()}]]</td>
                        </tr>
                        <tr>
                            <td>Next</td>
                            <td>[[${params.getParameter35()}]]</td>
                        </tr>
                        <tr>
                            <td>Magnat</td>
                            <td>[[${params.getParameter36()}]]</td>
                        </tr>
                        <tr>
                            <td>Минск</td>
                            <td>[[${params.getParameter37()}]]</td>
                        </tr>
                        <tr>
                            <td>Союз</td>
                            <td>[[${params.getParameter38()}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>