<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">1c Сотрудник</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" data-th-href="@{/}">Домой <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-th-href="@{/rentCalc}" data-toggle="tooltip"
                               title="Здесь вы можете поместить сотрудников в отдельную группу и рассчитать их совместную рентабельность">Рассчитать
                                лучшую группу</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Меню
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </div>
            </nav>
            <h1>[[${title}]]</h1>
            <table class="table">
                <thead>
                <tr>

                    <th scope="col">id</th>
                    <th scope="col">Лучшая рент.</th>
                    <th scope="col">Январь</th>
                    <th scope="col">Февраль</th>
                    <th scope="col">Март</th>
                    <th scope="col">Апрель</th>
                    <th scope="col">Май</th>
                    <th scope="col">Июнь</th>
                    <th scope="col">Июль</th>
                    <th scope="col">Август</th>
                    <th scope="col">Сентябрь</th>
                    <th scope="col">Октябрь</th>
                    <th scope="col">Ноябрь</th>
                    <th scope="col">Декабрь</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">[[${worker.getId()}]]</th>
                    <td>[[${worker.getRent()}]]</td>
                    <td>[[${worker.getJanRent()}]]</td>
                    <td>[[${worker.getFebRent()}]]</td>
                    <td>[[${worker.getMarRent()}]]</td>
                    <td>[[${worker.getAprRent()}]]</td>
                    <td>[[${worker.getMayRent()}]]</td>
                    <td>[[${worker.getJuneRent()}]]</td>
                    <td>[[${worker.getJulyRent()}]]</td>
                    <td>[[${worker.getAugRent()}]]</td>
                    <td>[[${worker.getSepRent()}]]</td>
                    <td>[[${worker.getOctRent()}]]</td>
                    <td>[[${worker.getNovRent()}]]</td>
                    <td>[[${worker.getDecRent()}]]</td>
                    <td>[[${worker.getRatio()}]]</td>

                </tr>
                </tbody>

            </table>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Bond</th>
                    <th scope="col">Kent</th>
                    <th scope="col">Parlametn</th>
                    <th scope="col">Winston</th>
                    <th scope="col">LM</th>
                    <th scope="col">Malboro</th>
                    <th scope="col">Rothmans</th>
                    <th scope="col">LD</th>
                    <th scope="col">Philip Morris</th>
                    <th scope="col">Aliance</th>
                    <th scope="col">Java</th>
                    <th scope="col">Optima</th>
                    <th scope="col">Пётр</th>
                    <th scope="col">Максим</th>
                    <th scope="col">Кресты</th>
                    <th scope="col">Vog</th>
                    <th scope="col">Гламур</th>
                    <th scope="col">Kiss</th>
                    <th scope="col">Esse</th>
                    <th scope="col">Quin</th>
                    <th scope="col">Lady</th>
                    <th scope="col">Мор</th>
                    <th scope="col">Chester</th>
                    <th scope="col">Радопи</th>
                    <th scope="col">Стюардесса</th>
                    <th scope="col">Столичные</th>
                    <th scope="col">Донской</th>
                    <th scope="col">Тройка</th>
                    <th scope="col">Fast</th>
                    <th scope="col">Royal</th>
                    <th scope="col">Manchester</th>
                    <th scope="col">Pretigue</th>
                    <th scope="col">Premier</th>
                    <th scope="col">Cosmos</th>
                    <th scope="col">Next</th>
                    <th scope="col">Magnat</th>
                    <th scope="col">Минск</th>
                    <th scope="col">Союз</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>[[${worker.getBond()}]]</td>
                    <td>[[${worker.getKent()}]]</td>
                    <td>[[${worker.getParlament()}]]</td>
                    <td>[[${worker.getWinston()}]]</td>
                    <td>[[${worker.getLm()}]]</td>
                    <td>[[${worker.getMalboro()}]]</td>
                    <td>[[${worker.getRotmans()}]]</td>
                    <td>[[${worker.getLd()}]]</td>
                    <td>[[${worker.getFmorris()}]]</td>
                    <td>[[${worker.getAliance()}]]</td>
                    <td>[[${worker.getJava()}]]</td>
                    <td>[[${worker.getOptima()}]]</td>
                    <td>[[${worker.getPetr()}]]</td>
                    <td>[[${worker.getMaksim()}]]</td>
                    <td>[[${worker.getCrests()}]]</td>
                    <td>[[${worker.getVog()}]]</td>
                    <td>[[${worker.getGlamur()}]]</td>
                    <td>[[${worker.getKiss()}]]</td>
                    <td>[[${worker.getEsse()}]]</td>
                    <td>[[${worker.getQuin()}]]</td>
                    <td>[[${worker.getLady()}]]</td>
                    <td>[[${worker.getMor()}]]</td>
                    <td>[[${worker.getChester()}]]</td>
                    <td>[[${worker.getRadopy()}]]</td>
                    <td>[[${worker.getStuardessa()}]]</td>
                    <td>[[${worker.getStolichniye()}]]</td>
                    <td>[[${worker.getDonskoy()}]]</td>
                    <td>[[${worker.getTroyka()}]]</td>
                    <td>[[${worker.getFast()}]]</td>
                    <td>[[${worker.getRoyal()}]]</td>
                    <td>[[${worker.getManchester()}]]</td>
                    <td>[[${worker.getPrestigue()}]]</td>
                    <td>[[${worker.getPremier()}]]</td>
                    <td>[[${worker.getCosmos()}]]</td>
                    <td>[[${worker.getNext()}]]</td>
                    <td>[[${worker.getMagnat()}]]</td>
                    <td>[[${worker.getMinsk()}]]</td>
                    <td>[[${worker.getSouz()}]]</td>

                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


</body>
</html>